// Variables
@import 'variables';

@import 'theme.css';
 
@import "~filepond/dist/filepond.min.css";
@import "~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css";
@import '~filepond-plugin-image-edit/dist/filepond-plugin-image-edit.css';
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
.fade-enter-active{
    transition: opacity 0.5s ease;
}
.fade-leave-active {
//   transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.2s ease-out;
  }
  
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  
  .slide-fade-enter-from,
  .slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
  }

.main-content {
    padding: 75px 20px 20px !important;
}

.dropdown-menu-c {
    width: 200px !important;
}

.action-btn {
    color: #020202 !important;
    border: unset !important;
    background-color: unset !important;
    border-radius: 50% !important;
    padding: 0.1rem 0.5rem !important;
}

.action-btn:hover {
    background-color: #dce4eb !important;
}
.action-btn:focus {
     background-color: #dce4eb !important;
     box-shadow: unset !important;
}

.action-dropdown {
    padding: 0.1rem 0 !important;
    min-width: 8rem;
}

.action-divider {
    margin: 0.1rem 0 !important;
}

.filepond--wrapper {
    width: 15rem !important;
}

.select2-container .select2-selection--single {
    height: 33px !important;
}

.select2-container{
    width: 100% !important;
}
.control-label {
    width: 100%;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
